#root {
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

/* nav{
  background-color: #353535;
  color: rgb(0, 0, 0); */
  
.Navbutton{
  background: rgb(105, 105, 105);
  color: rgb(5, 5, 5);
  padding: 12px;
  border-radius: 10px;
  margin-right: 2em;
  text-decoration: none;
  font-size: large;
  cursor: pointer;
}
.Navbutton:hover{
  color: rgb(185, 185, 185);
  background-color: rgb(138, 137, 137);
}
.Searchbutton{
   background: rgb(105, 105, 105);
  color: rgb(5, 5, 5);
  margin-left: 5px;
  border-radius: 10px;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
}

input{
  border-radius: 7px;
  background: rgb(105, 105, 105);
  color: rgb(5, 5, 5);

}

footer{
  background-color: #353535;
  color: rgb(0, 0, 5);
  margin-top: auto;
  padding: 1em;
}
